:global .dropmenu-box {
  position relative
  &.active .dropmenu {
    display block
  }
}

:global .dropmenu-btn {
  cursor pointer
}

:global .dropmenu {
  z-index 1
  display none
  position absolute
  background #fff
  border-radius 4px
  box-shadow 0 2px 8px 0 rgba(0, 0, 0, .2)
  &:before {
    position absolute
    content ''
    top -4px
    width 12px
    height 12px
    transform rotate(45deg)
    border-radius 2px
    background inherit
    box-shadow -1px -1px 1px -1px rgba(0, 0, 0, .2)
  }
}