$verticalMiddle() {
  display inline-block
  vertical-align middle
}

.paginationBox {
  padding-bottom 40px
  color #666
  text-align right
}
.paginationCount, .paginations, .changePagination {
  $verticalMiddle()
  font-size 13px
}
.paginations {
  padding 0 12px
}
:global .page-item {
  display inline-block
  width 30px
  height 28px
  line-height 28px
  text-align center
  background #F1F2F7
  border-radius 2px
  margin 0 2.5px
  cursor pointer
  &:hover {
    color #E26A6A
  }
  &.active {
    background #E26A6A
    color #fff
    &:hover {
      color #fff
    }
  }
  &.disabled {
    color #DCDFE6
    pointer-events none
  }
}
.paginationInput {
  box-sizing border-box
  width 40px
  height 28px
  margin 0 5px
  text-align center
  border 1px solid #DCDFE6
  border-radius 2px
  outline none
  &:hover {
    border-color #e26a6a
  }
}
