$verticalMiddle() {
  display inline-block
  vertical-align middle
}

$labelDes() {
  padding-left 5px
  font-size 12px
  color #666666
}

$text() {
  color #333
  padding 7px 12px
}

$formLabel() {
  display block
  font-size 13px
  padding-bottom 5px
}

.getApiMethod {
  color #19B5FE !important
}

.deleteApiMethod {
  color #E74C3C !important
}

.putApiMethod {
  color #F89406 !important
}

.postApiMethod {
  color #26C281 !important
}

.apisContainer {
  width 100%
  height calc(100% - 36px)
}

.apisListContent {
  width 240px
  border-right 1px solid #E5E8EB
  overflow hidden
}

.apisFilterBox {
  padding 15px 10px 5px
  & .search-box, & .icon-btn {
    display inline-block
    vertical-align middle
  }
  & .search-box {

  }
}

.apisFilterSearch {
  $verticalMiddle()
  width 163px
  margin-right 12px
}

.apisFilterIconBtn {
  $verticalMiddle()
}

.apisScreeningBox {
  padding 6px 10px
  border-bottom 1px solid #DCDFE6
}

.screeningItem {
  display inline-block
  vertical-align middle
  padding-right 8px
  cursor pointer
  color #666
  &.active {
    font-weight 500
  }
  &:hover, &.active {
    color #333
  }
}

:global .apiSortBox {
  float right
  margin 0
  & .dropmenu-btn:hover .icon-m-sort {
    color #E26A6A
  }
  & .select-box {
    left auto
    right 0
    transform translateX(0)
  }
  & .select-box:before {
    left 100%
    margin-left -16px
  }
}

.iconSort {
  font-size 14px
  color #B1AFAF
}

.apisListBox {
  overflow auto
  & i {
    display none
    cursor pointer
    position absolute
    right 0px
    top 10px
    color #666
    &:hover {
      color #E26A6A
    }
  }
}

.apiMethod {
  width 60px
}

.apiName {
  position relative
  font-size 13px
}

.apiItem {
  cursor pointer
  padding 0 15px
  line-height 32px
  &:hover {
    background #F1F2F7
    & i {
      display block
    }
  }
}

.getApi {
  &.active {
    background rgba(#19B5FE, .15)
  }
}

.deleteApi {
  &.active {
    background rgba(#E74C3C, .15)
  }
}

.postApi {
  &.active {
    background rgba(#00E640, .15)
  }
}

.putApi {
  &.active {
    background rgba(#F89406, .15)
  }
}

.apiInfoContent {
  line-height 22px
  padding-bottom 10px
  overflow auto
  padding 20px
  box-shadow inset 1px 0 1px -1px rgba(0, 0, 0, .1)
}

.apiInfoTitle {
  line-height 22px
  padding-bottom 10px
}

.usedCount {
  color #E26A6A
}

.apiInfoBaseBox {
  position relative
}

.apiBaseDetail {
  width 420px
  & > div {
    padding-bottom 6px
    color #666
    &:last-child {
      width 100%
    }
  }
}

.apiCreator {
  font-size 13px
}

.apiInfoVal {
  color #333
}

.editApiBtn {
  position absolute
  right 0px
  top 20px
}

// api add
.apiNewContent {
  padding-bottom 10px
  overflow auto
  padding 20px
  box-shadow inset 1px 0 1px -1px rgba(0, 0, 0, .1)
}

.newTitleBox {
  padding-bottom 2px
  border-bottom 1px solid #B1AFAF
}

.newFormBox {
  padding-top 15px
  padding-bottom 18px
}

.newFormItem {
  padding-bottom 12px
  & > label {
    $formLabel()
  }
  & > input {
    $text()
    width 400px
  }
  &.error {
    & input {
      border-color #E26A6A
    }
  }
}

.newTextareaFormItem {
  padding-bottom 12px
  & > label {
    $formLabel()
  }
  & > textarea {
    $text()
    width 600px
  }
}

.newLabelDes {
  $labelDes()
}
.newLabelMarkDes {
  $labelDes()
  color #E26A6A
}

.inputRadioBox {
  position relative
  $verticalMiddle()
  width 80px
  padding 3px 0
  margin-right 10px
  border-radius 4px
  text-align center
  background rgba(234, 234, 234, 0.4)
  border 1px solid #e2e2e2
  & input {
    cursor pointer
    position absolute
    display inline-block
    height 100%
    left 0
    top 0
    opacity 0
  }
}