$verticalMiddle() {
  display inline-block
  vertical-align middle
}

$filterIcon() {
  color #E26A6A
  font-size 16px
}

.listFilterBox {
  width 100%
  padding 15px 0
  text-align right
}

.listSearchBox {
  $verticalMiddle()
  position relative
  cursor pointer
  padding 0 2px 2px
  &:before, & input {
    transform-origin right center
  }
  &:before {
    content ''
    position absolute
    width 0
    height 1px
    top 100%
    right 0
    background #E26A6A
    transition width .4s
  }
  &.active, &:hover {
    &:before {
      width 100%
    }
    & .listSearchInput {
      width 160px
    }
  }
  & .listSearchInput {
    color #333333
  }
}

.listSearchInput {
  width 0px
  padding 0 6px
  font-size 13px
  box-sizing border-box
  border none
  background transparent
  transition width .4s .05s
}

.listSearchIcon {
  $filterIcon()
}

.listSortBox {
  display inline-block
  margin 0 26px 0 10px
  &.active .listSortIcon {
    color #E26A6A
  }
}

.listSortIcon {
  $filterIcon()
}


