$labelDes() {
  padding-left 5px
  font-size 12px
  color #666666
}

$verticalBottom() {
  display inline-block
  vertical-align bottom
}

$text() {
  color #333
  padding 7px 12px
}

$formLabel() {
  display block
  font-size 13px
  padding-bottom 5px
}

.newProjectBox {
  width 620px
  margin 25px auto
  padding 24px 42px 30px
  box-sizing border-box
  background #fff
  border 1px solid #E5E8EB
  border-radius 4px
  box-shadow 0 1px 10px 1px rgba(0, 0, 0, .05)
}

.titleBox {
  padding-bottom 2px
  border-bottom 1px solid #B1AFAF
}

.titleDes {
  color #666666
  padding-top 4px
}

.formBox {
  padding-top 15px
  padding-bottom 18px
}

.formItem {
  padding-bottom 12px
  & label {
    $formLabel()
  }
  & input {
    $text()
    width 400px
  }
  &.error {
    & input {
      border-color #E26A6A
    }
  }
}

.textareaFormItem {
  padding-bottom 12px
  & label {
    $formLabel()
  }
  & textarea {
    $text()
  }
}

.labelDes {
  $labelDes()
}

.labelMarkDes {
  $labelDes()
  color #E26A6A
}

.imageBox {
  $verticalBottom()
  width 100px
  height 100px
  box-sizing border-box
  border 1px solid #DCDFE6
  border-radius 4px
  background-image url("../../assets/img/logo.png")
  background-repeat no-repeat
  background-position center center
  background-size contain
}

.textBtn {
  $verticalBottom()
  margin-left 10px
}