//= 文字不换行
:global(.nowrap) {
  $ellipsis()
}

:global(.ellipsis) {
  $ellipsis()
}

//= 多行文本省略
:global(.ellipsis-ln-2) {
  $ellipsisLn(2)
}

:global(.ellipsis-ln-3) {
  $ellipsisLn(3)
}

//= 换行
:global(.text_wrap) {
  word-wrap: break-word;
  word-break: break-all;
}

//= 连字符
:global(.hyphens) {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}